<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>JEB</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>JEB</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>jeb</string>
    <key>Java</key>
    <dict>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java</string>
      <key>MainClass</key>
      <string>jeb.Launcher</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/bin/jeb.jar</string>
        <string>$JAVAROOT/bin/swt-osx64-4.3.jar</string>
        <string>$JAVAROOT/bin/jython-standalone-2.5.3.jar</string>
      </array>
      <key>VMOptions</key>
      <array>
        <string>-Xmx2048m</string>
        <string>-XX:-UseParallelGC</string>
        <string>-XX:MinHeapFreeRatio=15</string>
        <string>-XX:MaxHeapFreeRatio=30</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>apple.awt.showGrowBox</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
